@font-face {
    font-family: 'sharp_groteskbook_20';
    src: url('../fonts/sharpgrotesk-book20-webfont.woff2') format('woff2'),
         url('../fonts/sharpgrotesk-book20-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sharp_groteskbook_italic_20';
    src: url('../fonts/sharpgrotesk-bookitalic20-webfont.woff2') format('woff2'),
         url('../fonts/sharpgrotesk-bookitalic20-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sharp_groteskmedium_20';
    src: url('../fonts/sharpgrotesk-medium20-webfont.woff2') format('woff2'),
         url('../fonts/sharpgrotesk-medium20-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sharp_groteskmedium_italic_20';
    src: url('../fonts/sharpgrotesk-mediumitalic20-webfont.woff2') format('woff2'),
         url('../fonts/sharpgrotesk-mediumitalic20-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sharp_grotesksemibold_20';
    src: url('../fonts/sharpgrotesk-semibold20-webfont.woff2') format('woff2'),
         url('../fonts/sharpgrotesk-semibold20-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sharp_groteskSBdIt20';
    src: url('../fonts/sharpgrotesk-semibolditalic20-webfont.woff2') format('woff2'),
         url('../fonts/sharpgrotesk-semibolditalic20-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
